.idea
.vscode
**/target/
scripts/config.sh
metrics.log
output/
labs/lab-aws/scripts/*.id
labs/lab-aws/scripts/*.dns
dump
scripts/config.sh
scripts/ami/instance.id
scripts/ami/instance.dns
scripts/ami/image.id
scripts/lb/lbinstance.id
scripts/lb/lbinstance.dns